실전/project/EternalReturn_kakaogames_2024.csv
실전/project/processed.csv
실전/project/testcrawling.ipynb
실전/project/crawling.ipynb
python_basic/venv
실전/api_session.ipynb
실전/project/ER_core_data.csv
실전/project/ER_core_data2.csv
실전/project/character_stat.json
실전/project/언어데이터.txt