00_Project/03_Tripod/EternalReturn_kakaogames_2024.csv
00_Project/03_Tripod/processed.csv
00_Project/03_Tripod/testcrawling.ipynb
00_Project/03_Tripod/crawling.ipyn00_Project

00_Project/03_Tripod/ER_core_data.csv
00_Project/03_Tripod/ER_core_data2.csv
00_Project/03_Tripod/character_stat.json
00_Project/03_Tripod/언어데이터.txt

00_Project/04_final/crawling_BG.ipynb
00_Project/04_final/crawling_BR.py

실전/api_session.ipynb
python_basic/venv



